<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPRASKA</title>
    <link rel="shortcut icon" type="image/png" href="images/pramuka.png" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <!------ header section---->

    
    <section class="sub-header">
      <nav>
          <a href="index.php"><img src="images/simpraska2.png"></a>
          <div class="nav-links" id="navLinks">
              <i class="fa fa-times" onclick="hidemenu()"></i>
              <ul>
                  <li><a href="../index.php">BERANDA</a></li>
                  <li><a href="profil.html">PROFIL</a></li>
                  <li><a href="sejarah.html">SEJARAH</a></li>
                  <li><a href="informasi.html">INFORMASI</a></li>
                  <li><a href="../login.php" class="btn-fill" onclick="handleClick()">
                  <i class="fas fa-sign-in-alt icon"></i> Login </a></li>
              </ul>
          </div>
          <i class="fa fa-bars" onclick="showmenu()"></i>
      </nav>

      <h1></h1>
    </section>

    <!--------contact us-------->

    <section class="location">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d127465.54667834438!2d114.55687746638183!3d-3.2759976612333848!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2de4237593538403%3A0x99a0aa15ccd6836f!2sUniversitas%20Islam%20Kalimantan%20Muhammad%20Arsyad%20Al%20Banjari%20Banjarmasin!5e0!3m2!1sid!2sid!4v1722441893164!5m2!1sid!2sid"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </section>

    


    <section class="campus">
      <h1>Informasi Kegiatan Pramuka UNISKA</h1>

      <div class="row">
        <div class="campus-col">
          <img src="images/uscc1.png" />
          <div class="layer">
            <h3>Uniska Scout Creative Competition (USCC)</h3>
          </div>
        </div>
        <div class="campus-col">
          <img src="images/rsm.png" />
          <div class="layer">
            <h3>Ramadhan Scout Movement</h3>
          </div>
        </div>
        <div class="campus-col">
          <img src="images/pbk.png" />
          <div class="layer">
            <h3>Pengembaraan Bakti Kader (PBK)</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="facilities">
      <div class="row">
        <div class="facilities-col">
          <h3>Uniska Scout Creative Competition</h3>
          <p>
            Uniska Scout Creative Competition (USCC) merupakan program kerja unggulan di UKM Pramuka, USCC sudah terlaksana VII kali berturut-turut dan pada tahun 2024 ini akan dilaksankan yang ke VIII, Program ini merupakan kompetisi
            Pramuka Penegak yang ditujukan untuk siswa/siswi SMA Sederajat, dengan cakupan wilayah KALSEL-TENG,
          </p>
        </div>
        <div class="facilities-col">
          <h3>Ramadhan Scout Movement</h3>
          <p>Program Kerja ini merupakan program kerja yang dilaksanakan pada bulan Ramadhan dengan berbagai rangkaian kegiatan mulai dari Bagi Takjil, Saur On The Roud, Mengaji bersama, Buka bersama dengan keluarga besar Racana.</p>
        </div>
        <div class="facilities-col">
          <h3>Pengembaraan Bakti Kader</h3>
          <p>
            rogram Kerja Pengembaraan Bakti Kader merupakan progrma kerja yang ditujukan kepada calon anggota penuh , rangkaian kegiatan ini melaksanakan bakti ke sekolah-sekolah dan desa-desa setelah melakukan bakti dilanjutkan
            Pengembaraan yang biasanya dilaksakana dengan kegiatan mendaki gunung .
          </p>
        </div>
      </div>
    </section>


    <section class="about-us">
      <div class="row">
        <div class="about-col">
          <h1>Gerakan Pramuka UNISKA MAB Banjarmasin</h1>
          <h3>Yuk Kepoin Dokumenter Pramuka Uniska</h3>
          <a href="http://www.youtube.com/@pramukauniskabanjarmasin3587" class="hero-btn red-btn">Youtube Pramuka Uniska</a>
        </div>
        <div class="about-col">
          <img src="images/ytb.png" alt="about" />
        </div>
      </div>
    </section>

      
  <section class="campus">
    <h3>Informasi Mengenai Pendaftaran Kegiatan Apapun</h3>
    <div class="campus-col">
      <img src="images/linktree.png">
      <div class="layer">
      <a href="https://linktr.ee/PramukaUniska?fbclid=PAZXh0bgNhZW0CMTEAAaZfQcaCiMFxhsme7TCupVuOYbAgEqsQSJ2kd0-Fdj5yRmYy6t2PqtJZ4hE_aem_FuowmOYW5LavCXQtN4QxWg" class="hero-btn red-btn">linktree Pramuka Uniska</a>
          <h3></h3>
      </div>
  </div>
  </section>
    

  

    <!-- Footer  -->

    <section class="footer">
      <h4>SOSIAL MEDIA</h4>
      <div class="icons">
      </a>
      <a href="https://www.instagram.com/pramuka.uniska?igsh=dThpc2QwdnQ5YzU=" target="blank">
          <i class="fa fa-instagram"></i>
      </a>
        <a href="https://www.facebook.com/share/LSJqNMrS7FzRK4R1/?mibextid=qi2Omg target="blank">
            <i class="fa fa-facebook"></i>
        </a>
      </a>
      <a href="mailto:pramuka.uniska@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>
      <a href="https://www.tiktok.com/@pramuka.uniska?_t=8ozWOOFz9zL&_r=1" target="blank">
        <i class="fa fa-tiktok"></i>
       </a>
       <a href="http://www.youtube.com/@pramukauniskabanjarmasin3587" target="blank">
        <i class="fa fa-youtube"></i>
    </a>
    </div>
   <p>Gerakan Pramuka Univeritas Islam Kalimantan Muhammad Arsyad Al-Banjari Banjarmasin </p>
    </section>

    <!-------------(header section) javascript for toggle menu---->
    <script>
      var navLinks = document.getElementById("navLinks");
      function showmenu() {
        navLinks.style.right = "0";
      }
      function hidemenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
