<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPRASKA</title>
    <link rel="shortcut icon" type="image/png" href="images/pramuka.png" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <!------ header section---->

    
    <section class="sub-header">
      <nav>
          <a href="index.php"><img src="images/simpraska2.png"></a>
          <div class="nav-links" id="navLinks">
              <i class="fa fa-times" onclick="hidemenu()"></i>
              <ul>
                  <li><a href="../index.php">BERANDA</a></li>
                  <li><a href="profil.html">PROFIL</a></li>
                  <li><a href="sejarah.html">SEJARAH</a></li>
                  <li><a href="informasi.html">INFORMASI</a></li>
                  <li><a href="../login.php" class="btn-fill" onclick="handleClick()">
                  <i class="fas fa-sign-in-alt icon"></i> Login </a></li>
              </ul>
          </div>
          <i class="fa fa-bars" onclick="showmenu()"></i>
      </nav>

      <h1></h1>
    </section>

    <!--about us content-->

    <section class="about-us">
      <div class="row">
        <div class="about-col">
          <h1>Gerakan Pramuka UNISKA MAB Banjarmasin</h1>
          <p>DENGAN FORMAT YANG	BARU
            Dideklarasikan	Pada Tanggal
            12-12-2012
            Dengan Satuan Gerak
            Racana	Pangeran	Samudera	Puteri	Mayang	Sari  Gerakan	Pramuka	Gugus	Depan	02.375-02.376  UNIVERSITAS	ISLAM	KALIMANTAN	MAB
            BANJARMASIN</p>
          <a href="" class="hero-btn red-btn">NOMOR: 094/KEP/UNISKA/M.6/V/2014
          </a>
        </div>
        <div class="about-col">
          <img src="images/2.png" alt="about" />
        </div>
      </div>
    </section>


    <section class="campus">
      <h1>STATUS  KEANGGOTAAN</h1>
      <h1>>PENDIRI RACANA PANGERAN SAMUDERA PUTERI MAYANG SARI</h1>
      <p>PENDIRI ADALAH INISIATOR,
        ORANG-ORANG YANG MEMPUNYAI INISIATIF DALAM MENGAKTIFKAN KEMBALI
        GERAKAN PRAMUKA DI KAMPUS UNISKA DAN MENDIRIKAN RACANA
        </p>

      <div class="row">
        <div class="campus-col">
          <img src="images/01.png" />
          <div class="layer">
            <h3>Muhammad Heri Ramadhan "NAR.001.375.12.PENA"</h3>
          </div>
        </div>
        <div class="campus-col">
          <img src="images/02.png" />
          <div class="layer">
            <h3>Elva Febri Erendra"NAR.002.376.12.PENA"</h3>
          </div>
        </div>
        <div class="campus-col">
          <img src="images/03.png" />
          <div class="layer">
            <h3>Arif Nur Budiman"NAR.003.375.12.PENA"</h3>
          </div>
        </div>
        <div class="campus-col">
          <img src="images/04.png" />
          <div class="layer">
            <h3>Eka Widya Astuti"NAR.003.376.12.PENA"</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="about-us">
      <div class="row">
        <div class="about-col">
          <h1>>ANGGOTA PELOPOR  (APOR)</h1>
          <p>Pelopor Adalah Orang Orang Yang Direkrut Secara Pribadi  Oleh Pendiri Racana Untuk Menjalankan Roda Organisasi  Selama Masa Sebelum Masuknya Anggota Racana  Angkatan Pertama
          </p>
        </div>
        <div class="about-col">
          <img src="images/apor.png" alt="about" />
        </div>
      </div>
    </section>


    <div class="row">
      <div class="course-col">
        <h3>>ANGGOTA RACANA  (AR)</h3>
        <p>Anggota Racana Adalah Orang Yang Telah  Mengikuti Berbagai Macam Pendidikan Diracana  Yang Dijadwalkan Oleh Dewan Racana Dan Disetujui Oleh Dewan Racana
        </p>
      </div>
      <div class="course-col">
        <h3>>WARGA RACANA</h3>
        <p>Warga Racana Adalah Aggota Yang Telah Melewati Masa  Bakti Atau Pengabdian Selama 4 Tahun Di Racana Serta  Telah Lulus Atau Tidak Mengenyam Pendidikan Di  Bangku Kuliah (Alumni) dan Telah Menikah
        </p>
      </div>
      <div class="course-col">
        <h3>>PERINTIS</h3>
        <p> Perintis Adalah Orang Yang Tidak Terdaftar  Secara Administrasi Tetapi Mempunyai  Sumbangsih Kepada Racana , Baik Itu Pada Saat  Pendirian Maupun Sumbangsih Pemikiran Atau  Materi Dalam Kepramukaan Atau Keorganisasian  Adapun Anggota Perintis Yaitu:
          -BEM UNISKA PERIODE 2013-2014
          -MAPALA UNISKA
          -HMJ BK FKIP UNISKA
          -PRAMUKA UIN ANTASARI
          </p>
      </div>
    </div>
  </section>

  
  <section class="campus">
    <h3>STRUKTUR DEWAN PENGURUS</h3>
    <div class="campus-col">
      <img src="images/dp.png">
      <div class="layer">
          <h3></h3>
      </div>
  </div>
 
  </section>

    <!-- Footer  -->

    <section class="footer">
      <h4>SOSIAL MEDIA</h4>
      <div class="icons">
      </a>
      <a href="https://www.instagram.com/pramuka.uniska?igsh=dThpc2QwdnQ5YzU=" target="blank">
          <i class="fa fa-instagram"></i>
      </a>
        <a href="https://www.facebook.com/share/LSJqNMrS7FzRK4R1/?mibextid=qi2Omg target="blank">
            <i class="fa fa-facebook"></i>
        </a>
      </a>
      <a href="mailto:pramuka.uniska@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>
      <a href="https://www.tiktok.com/@pramuka.uniska?_t=8ozWOOFz9zL&_r=1" target="blank">
        <i class="fa fa-tiktok"></i>
       </a>
       <a href="http://www.youtube.com/@pramukauniskabanjarmasin3587" target="blank">
        <i class="fa fa-youtube"></i>
    </a>
    </div>
   <p>Gerakan Pramuka Univeritas Islam Kalimantan Muhammad Arsyad Al-Banjari Banjarmasin </p>
    </section>

    <!-------------(header section) javascript for toggle menu---->
    <script>
      var navLinks = document.getElementById("navLinks");
      function showmenu() {
        navLinks.style.right = "0";
      }
      function hidemenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
